@black: #1f1e1e;
@black2: #1c1b1b;
@black_3: fade(@black, 3%);
@red: #BC3324 ;
@red_hover: #A51505;
@white: #FFFFFF;
@whiteT60: rgb(255 255 255 / 0.6);
@grey: #DEDEDE;
@grey2: #BFBFBF;
@grey3: #6C6C6C;

@font_OpenSans: "opensans", serif;
@font_Mak: "mak", serif;
@font_Lora: "lora", serif;
@font_size: 16px;
@fonts_size_s: (@font_size / 1.25);


@bw600: ~"(max-width: 599px)";
@w600: ~"(min-width: 600px)";
@bw650: ~"(max-width: 649px)";
@w650: ~"(min-width: 650px)";
@bw768: ~"(max-width: 767px)";
@w768: ~"(min-width: 768px)";
@bw1020: ~"(max-width: 1019px)";
@w1020: ~"(min-width: 1020px)";
@bw1340: ~"(max-width: 1339px)";
@w1340: ~"(max-width: 1340px)";
@bw1660: ~"(max-width: 1659px)";
@w1660: ~"(min-width: 1660px)";

:root {
    --card-max-width: 405px;
}