.blog-card {
    display: flex;
    flex-direction: row;
    column-gap: 60px;

    &__wrapper {
        display: flex;
        flex-direction: column;

        &:not(:last-child)::after {
            content: '';
            display: block;
            width: 1257px;
            height: 1px;
            background: @black;
            margin: 60px auto
        }
    }

    &__link {
        flex-shrink: 0;
        align-self: flex-start;
        display: block;
        width: 467px;
        font-size: 0;
        text-decoration: none;
    }


    &__picture {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            display: block;
            padding-top: 62.312%;
            width: 100%;
        }
    }

    &__img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__info_body {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 536px;
        padding-top: 30px;
    }

    &__info-time {
        display: block;
        margin-bottom: 70px;
        font-weight: 300;
        font-size: @font_size;
        color: @black;
    }

    &__content {

        &:hover {
            .blog-card__title {
                color: @red_hover;
                text-decoration-color: @red_hover;
                text-decoration: underline
            }

            .blog-card__text {
                color: @red_hover;
            }
        }
    }

    &__title {
        margin: auto 0 40px;
        color: @black;
        text-decoration-color: transparent;
        transition: color 0.2s, text-decoration-color 0.2s;
        font-weight: 600;
        font-size: 24px;
    }

    &__text {
        transition: color 0.2s;
    }

    &__arrow {
        align-self: flex-end;
        cursor: pointer;
    }
}
