.blog-card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;

    &__picture {
        margin-right: 60px;
        display: block;
        position: relative;
        max-width: 467px;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            display: block;
            padding-top: 62.312%;
            width: 100%;
        }
    }

    &__img {
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__info-time {
        display: block;
        margin-bottom: 70px;
        font-weight: 700;
        font-size: @font_size;
        color: @black;
    }

    &__title-link {
        &:hover,
        &:active {
            .blog-card__title,
            .blog-card__icon {
                color: @red_hover;
            }

            .blog-card__title {
                text-decoration-color: transparent;
            }
        }
    }

    &__title {
        margin: 0;
        text-decoration: underline;
        text-decoration-color: transparent;
        font-weight: 700;
        color: @black;
        transition: color 0.2s,text-decoration-color 0.2s;
    }

    &__icon {
        position: absolute;
        right: 0;
        bottom: 90px;
        display: block;
        color: @black;
        transition: color 0.2s;
    }
}
