.contact {
    &__header {
        font-family: @font_Lora;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 46px;

        @media @bw1340 {
            font-size: 16px;
            margin-bottom: 43px;
        }

        @media @bw768 {
            font-size: 13px;
            margin-bottom: 25px;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        column-gap: 84px;
        row-gap: 25px;
        margin-bottom: 100px;

        @media @bw1660 {
            column-gap: 64px;
        }

        @media @bw1340 {
            column-gap: 26px;
        }

        @media @bw768 {
            flex-direction: column;
            align-items: center;
        }
    }

    &__btn {
        font-weight: 600;
        font-size: 16px;
        padding: 15px 0;
        cursor: pointer;
        font-family: "opensans",serif;

        @media @bw768 {
            font-size: 14px;
        }
    }

    &__btn--want_event {
        order: 1;
        color: @white;
        background-color: @red;
        border: none;
        width: 272px;
        transition: background-color .2s;

        &:hover {
            background-color: @red_hover;
        }

        @media @bw768 {
            order: 2;
            width: 100%;
            max-width: 280px;
        }
    }

    &__btn--be_tenant {
        order: 2;
        color: @black;
        background-color: transparent;
        border: 1px solid @black;
        width: 244px;
        margin-left: 24px;
        transition: color .2s, background-color .2s;

        &:hover {
            color: @white;
            background-color: @black
        }

        @media @bw1660 {
        }

        @media @bw1340 {
        }

        @media @bw768 {
            margin: 0;
            width: 100%;
            max-width: 278px;
            order: 1;
        }
    }

    &__info-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    &__info_pading {
        padding: 50px 50px;
        background-color: @black;
        max-height: 20px;
        max-width: 20px;
        margin-bottom: 40px;
    }

    &__info_title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__info_text {
        font-size: 16px;
        font-weight: 400;
        max-width: 400px;
        text-align: center;
        display: block;
    }
}
