.event-card {
    &__title {
        margin: 0 0 15px;
        min-height: 66px;
        color: @black;
        font-size: 24px;
        line-height: 33px;
    }

    &__text {
        margin: 0 0 auto;
        font-size: 16px;
        line-height: 22px;
    }

    &__time {
        margin: 15px 0 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
    }
}
