.events {
    padding-bottom:25px;
    margin-top:140px;
    margin-bottom: 100px;

    @media @bw1340 {
        padding: 90px 0 100px;
    }

    @media @bw768 {
        padding: 80px 0 100px;
    }

    &__additonally {
        margin-bottom: 50px;
    }

    &__contact {
        margin-bottom: 150px;
    }

    &__additonally_text {
        font-weight: 400;
        display: block;
        width: 868px;
        margin-bottom: 60px;
    }
}
