.field {

    label.error,
    span.error {
        display: block;
        margin: 5px 0 0;
        font-size: 14px;
        font-weight: 400;
        color: @red;
    }

    &__grid_event, &__grid_contact {
        display: grid;
        width: 100%;
        gap: 30px 60px;
        grid-template-columns: 1fr 1fr;
    }

    &__grid_event {
        grid-template-areas:
            "format guestCount" "format date";
        margin-bottom: 30px;
    }

    &__grid_format {
        grid-area: format;
    }

    &__grid_guest_count {
        grid-area: guestCount;
    }

    &__grid_date {
        grid-area: date;
    }

    &__grid_contact {
        grid-template-areas:
            "firstname secondname" "number email";
        margin-bottom: 50px;
    }

    &__grid_firstname {
        grid-area: firstname;
    }

    &__grid_secondname {
        grid-area: secondname;
    }

    &__grid_number {
        grid-area: number;
    }

    &__grid_email {
        grid-area: email;
    }

    grid-area: checkbox;

    &__input,
    &__textarea {
        box-sizing: border-box;
        border-radius: 5px;
        background-color: @white;
        font-size: 16px;
        line-height: 1.375;
        border: none;
    }

    &__input {
        height: 55px;
        padding: 17px 20px 16px;
        width: 100%;
    }

    &__date-wrap {
        position: relative;
    }

    &__date-inputs {
        display: flex;
        column-gap: 15px;
    }

    &__input--date {
        text-align: center;
        height: 55px;
        padding: 17px 13px;
        width: calc(30px + 13px * 2);
    }

    &__input--date-year {
        text-align: center;
        width: 110px;
    }

    &__date-picker {
        box-sizing: border-box;
        position: absolute;
        padding: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 250px;
        height: 55px;
        border: none;
        border-radius: 5px;
        opacity: 0;
        background-color: coral;
        cursor: pointer;
    }

    &__select {
        display: flex;
        align-items: center;
        padding-right: 45px;
        padding-left: 20px;
    }


    &__textarea {
        padding: 20px;
        height: 150px;
        width: 100%;
        margin-bottom: 15px;
    }

    &__title,
    &__label {
        display: block;
        width: 100%;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.3;
        color: @black;
    }

    &__label {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        color: @black;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 40px;
    }

    &__button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        background-color: @grey;
        color: @black;
        display: flex;
        border: 0px none;
        padding: 15px 0 15px;
    }

    &__button_wrap {
        margin: auto auto
    }


    &__button--send {
        border: 1px solid @black;
        padding: 15px 200px;
        transition: color .2s, background-color .2s;

        &:hover {
            color: @white;
            background-color: @black
        }
    }

    &__form_title {
        position: absolute;
        height: 60px;
        width: 427px;
        padding: 10px 83px;
        background-color: @black;
        left: 20px;
        top: -40px;
        z-index: 130;
        color: @white;
        font-size: 22px;
        font-weight: 400;
        font-family: @font_Lora;
    }
}
