.pp {
    position: fixed;
    display: none;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(28,27,27,0.4);
    backdrop-filter: blur(25px);
    overflow-y: auto;


    &__block {
        position: relative;
        margin: 90px auto 0 auto;
        max-width: calc(1210px - 170px * 2);
        padding: 100px 170px 40px;
        z-index: 120;
        background-color: @grey;
        background-image: url("../../assets/images/noise.png");
        background-position: 0 0, 0 0;
    }


    &__x-btn {
        display: flex;
        position: absolute;
        width: 60px;
        height: 60px;
        top: -30px;
        right: -30px;
        left: auto;
        background-color: #1f1e1e;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0px none;

        &_icon {
            pointer-events: none;
        }
    }
}
