.section-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 93px;
    margin-bottom:150px;

    &__title {
        margin-bottom: 150px;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 493px;
    }

    &__content_img{
        height:493px;
        width:752px;
    }
}
