:root {
    --Nav-top__color-active: #33F5AE;
    --Nav-top-color__inactive: #5e5e5e;
    --white: #ffffff;
}

.Nav-top {
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: var(--Nav-top-color__inactive);
    border-bottom: 10px solid var(--Nav-top__color-active);
}
    .Nav-top a {
        padding: 1em 15px;
        font-size: 17px;
        float: left;
        text-align: center;
        text-decoration: none;
        color: white;
    }
        .Nav-top a:hover {
            background-color: white;
            color: var(--Nav-top-color__inactive);
        }
        .Nav-top a.active {
            background-color: var(--Nav-top__color-active);
            color: white;
        }

body {
    margin: 0;
}

.Title {
    color: red;
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
